html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background: 
    linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
    url('https://s3.amazonaws.com/cool-marketing-stuff/spiration-light.png');
  background-attachment: fixed;
  background-size: cover; 
}
